body{
  font-family: 'Atma', cursive;
}
nav{
  background-color:rgba(0,0,0,0.3);
  height: 60px;
  margin: 0;

}
nav:hover{
  background-color:rgba(0,0,0,0.6);
  color: black;
}


.navitm{
  margin: 0%;
}

nav li{
  list-style-type: none;
  float: left;
  text-decoration: white;
   padding-top: 15px;
   padding-left: 15px;  
   padding-right: 15px;  
   color: white;
   margin-left: 55px;
   height:60px;
 }
 nav li a{
   text-decoration: none;
   color: white;
   font-size: 15px;
   text-shadow: black 1px 1px 1px;
 }
 nav li a:hover{
  text-shadow: black 1px 1px 1px;
   color:white;
   text-decoration: none;
   font-size: 20px;
 }
 nav li:hover{
   background-color:rgba(0,0,0,0.9);
 }
.navitm{
  list-style-type: none;
  float: left;
 margin-top: 5px;
 margin-right:50px ;
}
.hdr{
  height: 75vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(25,25,25,0.25)),url('manin-boys.jpg');
  background-position: center;
  background-size: cover;
}
#home{
  z-index: -1;
  text-shadow: -5px,5px,20px black,
               -5px,5px,20px black;
                
}
